*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    counter-reset: section;
    line-height: 1.5em;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

h1 {
    counter-reset: subsection;
    margin: 40px 0;
}

h2 {
    margin: 20px 0;
}

h1::before {
    counter-increment: section;
    content: "Assignment " counter(section) ":";
    font-size: 32px,
}

ol {
    list-style-type: none;
    position: relative;
    left: 35px;
    margin-top: 10px;
}

li:not(:last-of-type) {
    margin-bottom: 10px;
}

content {
    justify-content: space-between;
}

/* -------------------------------------------------------------------------- */
.subsection::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
    position: absolute;
    left: -35px;
}

.bold {
    font-weight: bold;
}

.card {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 5px #aaaaaa;
}